<%= image_tag("logo.gif", size: "272x48", alt:"Morning Glory") %>

<% if current_member %>
<p class="member">
    <%= link_to current_member.name + "さん", :account %>さん｜
    <%= link_to "ログアウト", :session, method: :delete, data: {confrim: "ログアウトしますか？"} %>
</p>
<% end %>

<div id="menu_bar">
<%=menu_link_to "TOP",root_path %>
&nbsp;|&nbsp; <%=menu_link_to "ニュース",:articles %>
&nbsp;|&nbsp; <%=menu_link_to "ブログ","#" %>
<% if current_member %>
&nbsp;|&nbsp; <%=menu_link_to "会員家計簿","#" %>
&nbsp;|&nbsp; <%=menu_link_to "管理ページ","#" %>
<% end %>
&nbsp;|&nbsp; <%=menu_link_to "会員名簿",:members %>

</div>